name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: self-test1
         
    steps:
    - uses: actions/checkout@v3
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
        
    - name: Install PlatformIO
      run: |
        wget https://github.com/PHTdev/ESP32_unit_test/archive/refs/heads/main.zip -O /home/pht-pc/git_test/ESP32_unit_test-main.zip
        unzip /home/pht-pc/git_test/ESP32_unit_test-main.zip -d /home/pht-pc/git_test 
                
    - name: Run PlatformIO
      run: pio test --filter "test_main"
      env:
        PLATFORMIO_BUILD_FLAGS: -D SPECIFIC_MACROS -I/extra/inc
