name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: self-hosted
         
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Dependencies
        run: |
          brew update
          brew install gh
          brew install ninja-build lcov git curl python3 python3-pip platformio

      - name: Run PlatformIO
        run: pio test --filter "test_main"
        env:
          PLATFORMIO_BUILD_FLAGS: -D SPECIFIC_MACROS -I/extra/inc
