name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: pht-label-1
    
    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Set up Python
      uses: actions/setup-python@v2

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        wget https://github.com/PHTdev/ESP32_unit_test/archive/refs/heads/main.zip -O /tmp/main.zip
        unzip /tmp/main.zip -d /tmp

    - name: Run PlatformIO
      run: pio ci path/to/test/test_main.c --lib="/tmp/main-master" --board=esp32dev
      env:
        PLATFORMIO_BUILD_FLAGS: -D SPECIFIC_MACROS -I/extra/inc
      
