name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: pht-label-1
    
    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          
    - name: Install PlatformIO
      run: |
        mkdir test_git && cd test_git
        wget https://github.com/PHTdev/ESP32_unit_test/archive/refs/heads/main.zip -O /test_git/ESP32_unit_test-main.zip
        unzip /test_git/ESP32_unit_test-main.zip -d /test_git
        
    - name: Run PlatformIO
      run: pio test --filter "test_main"
      env:
        PLATFORMIO_BUILD_FLAGS: -D SPECIFIC_MACROS -I/extra/inc
